@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Parisienne|Source+Sans+Pro&display=swap');
body,html{
  background: #1a1d20;
  margin: 0;
  height: 100%;
}
nav{
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
letter-spacing: 2px;
}

.bimg{
    background-image: url("../img/skye-studios-NDLLFxTELrU-unsplash.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}  


option,
.login-dark form {
  max-width: 500px;
  width: 90%;
  background-color: #1e2833;
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 25rem;
  left: 50%;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
}

.login-dark form .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}

.login-dark form .btn-primary {
  background: #214a80;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background: #214a80;
  outline: none;
}

.login-dark form .forgot {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}
  
.login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.login-dark form .btn-primary:active {
  transform: translateY(1px);
}
  
.nav-item{
  margin: 0 20px 0 20px;
  display: flex;
  align-items: center;
}

.usericon{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 10px;
}
.navbar-dark .navbar-text a {
  color: #737373;
}


/* mobile */
@media only screen and (max-width: 800px) {
  .videos{
    /* margin: 20px 20px 20px 20px;  */
    justify-content: center;
    align-items: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
    padding: 100px 20px;
  }
}

/* desktop */
@media only screen and (min-width: 800px) {
  .videos{
    /* margin: 20px 20px 20px 20px;  */
    justify-content: center;
    align-items: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 400px);
    grid-auto-rows: auto;
    padding: 100px 40px;
    
  }
  .embed-responsive{ 
    max-width: 400px;
  }
}
iframe{
  padding: 0;
  font-size: 30px;
  border: none;
}

.videocontainer{
  /* background: #d9d9d9; */
  /* margin: 100px 40px 0px 40px; */
  border-radius: 3px;
  background-color: transparent;
}

.socials {
  display: flex;
  justify-content: center
}

.socials a {
  text-decoration: none;
}

.socials .s {
  margin-left: 5px;
}
.s {
  width: 30px;
  filter: invert(50%);
  border: 0;
  text-decoration: none;
  outline: none;
  opacity: 0.7;
}

.s:hover {
  opacity: 1;
  filter:invert(100%);
}

.site-footer
{
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}


a.gist-meta:hover{
  color: #fff;
}

.ubiq{
  font-family: 'Parisienne', cursive; 
  font-size: 30px;
  margin:20px;
  color: #737373;
  text-decoration: none;
  transition: all .5s ease-in-out;

}

.ubiq:hover{
  text-decoration: none;
  color: white;
}

.login,
.highlight-link {
  text-decoration: none;
  color: #737373;
  display: inline-block;
  padding: 0px 1px;
  transition: all .5s ease-in-out;
  box-sizing: border-box;
  box-shadow: inset 0 -2px 0 #007FFF;
}
.login:hover,
.highlight-link:hover {
  text-decoration: none;
box-shadow: inset 0 -55px 0 0 #007FFF;
color: white;
}

@media only screen and (max-width: 990px) {
.navbar-dark{
  background-color: #1a1d20;
}
}
@media only screen and (min-width: 990px) {
.navbar-dark{
  background-color: #1a1d20;
  margin: 0 200px 0 200px;

}
}

.polldata{
  color: azure;
  height: auto;
  width: auto;
  background: #1D2328;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  width: 80%;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  transition: all .25s ease-in-out;

}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
