{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand" href="https://www.ulabstx.org/" style="font-size: 27px;">ULabs Makerspace</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto"></ul>
        <span class="navbar-text">
            <ul class="navbar-nav mr-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item active">
                    <img src="{{current_user.avatar}}?sz=20" class="usericon" alt="{{current_user.name}}"><a
                        class="nav-link" href="#">{{current_user.name}} <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="login" href="{{url_for('logout')}}">logout!</a>
                </li>
                {% else %}
                <li class="nav-item">
                    You are not Logged in... <a class="login" style="margin-left: 10px;" href="{{url_for('login')}}">
                        login!</a>
                </li>
                {% endif %}

                <!-- <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li> -->
            </ul>
        </span>
    </div>
</nav>

{% block body %}
{% endblock %}

<!-- Site footer -->

<footer class="site-footer" id="xyz">
    <div class="container" style="display: flex; flex-direction: column; text-align: center;">

        <div class="gist-meta">
            Created with ❤ by <a href="https://github.com/gauravshilpakar" class="highlight-link"
                target='_blank'>@gauravshilpakar</a>
        </div>
        <a class="ubiq" href="http://www.ulabstx.org/" target='_blank'>U(biquitous) Labs
            Makerspace</a>
        <div class="socials">
            <a href="https://www.facebook.com/gauravshilpakar" target='_blank'><img class="s"
                    src="\static\icons\iconfinder_Circled_Facebook_svg_5279111.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/gaurav.shilpakar/" target='_blank'><img class="s"
                    src="\static\icons\iconfinder_Circled_Instagram_svg_5279112.png" alt="Instagram"></a>
            <a href="https://www.linkedin.com/in/gauravshilpakar/" target='_blank'><img class="s"
                    src="\static\icons\linkedin.png" alt="LinkedIn"></a>
            <a href="https://www.youtube.com/gauravshilpakar" target='_blank'><img class="s"
                    src="\static\icons\iconfinder_Circled_Youtube_svg_5279120.png" alt="YouTube"></a>
            <a href="https://github.com/gauravshilpakar" target='_blank'><img class="s"
                    src="\static\icons\github-image.png" alt="GitHub"></a>
        </div>

</footer>
{% endblock %}