{% extends "indexbase.html" %}
{% block body %}
<div class="videocontainer">
    <section class="videos">

        {% for video in links %}

        <div class="embed-responsive embed-responsive-16by9">
            <div>
                {{ video['link'] | safe }}
            </div>
        </div>
        {% endfor %}
    </section>


    <form action="#poll" method="post" style="background: none;">
        <div class="form-group"
            style="display: flex; flex-direction: column; align-items: center; padding-bottom: 50px;">

            <button type="submit" class="btn btn-outline-primary" style="font-weight: 500; padding:  0.375rem 2.75rem;"
                id="poll">
                VOTE!
            </button>
        </div>


        {% if authenticated %}

        <div class="polldata">
            <div style="font-family: IBM Plex Sans; font-size: 25px; padding: 10px;">Select Your Favourite Video</div>
            <div class="polls">

                {% for video in links %}
                <label class="container">{{video['name']}}
                    <input type="radio" name="radio">
                    <span class="checkmark"></span>
                </label>
                {% endfor %}

                <div class="form-group"
                    style="display: flex; flex-direction: column; align-items: center; padding-bottom: 50px;">

                    <button type="submit" class="btn btn-outline-primary"
                        style="font-weight: 500; padding:  0.375rem 2.75rem;" id="poll">
                        SUBMIT!
                    </button>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- <div><i class="fas fa-user"></i></div> -->

    </form>
</div>





{% endblock %}