{% extends "indexbase.html" %}

{% block body %}
<style>
    .emoji {

        display: inline-block;
        vertical-align: text-top;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 60px;
        height: 60px;
        background-image: url(../static/img/Down_Pointing_Backhand_Index_Emoji_Icon_ios10_1024x1024.png);
        margin-left: 10px;
        cursor: pointer;
        transition: all .2s ease-in-out;
    }

    .emoji:hover {
        margin-top: 10px;
    }
</style>
<div style="color: whitesmoke; text-align: center; height: 300px;">
    <h1 style="margin-top: 200px;">Thank You!</h1>
    <a class="login" href="{{ url_for('results' )}}">
        <h2>Check the results!</h2>
    </a>
    <h2>Find out more about us!</h2>
    <span class="emoji wave-hand animated"></span>
</div>


{% endblock %}